#jib-context-menu {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: #fff; /* White background */
    border: 1px solid #ccc; /* Light gray border */
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1); /* Subtle shadow for 3D effect */
    border-radius: 4px; /* Rounded corners */
    z-index: 1000; /* Make sure it's on top */
    font-family: Arial, sans-serif; /* Font style */
    min-width: 150px; /* Set a fixed width */
    padding: 5px;
    transform: scale(0);
}

/* Show the context menu with scaling animation */
#jib-context-menu.show {
    animation: contextMenuIn 0.2s ease-out forwards;
}

@keyframes contextMenuIn {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}

#jib-context-menu ul {
    list-style: none; /* Remove bullets */
    padding: 0;
    margin: 0;
}

#jib-context-menu li {
    padding: 10px; /* Space around text */
    border-radius: 4px;
    cursor: pointer; /* Pointer cursor on hover */
    transition: background-color 0.2s ease-in-out; /* Smooth hover effect */
    position: relative;
}

#jib-context-menu li:hover {
    background-color: #f0f0f0; /* Light gray background on hover */
}

#jib-context-menu li ul {
    display: none;
    position: absolute;
    left: calc(100%);
    top: -5px;
    min-width: 150px;
    padding: 5px;
    background-color: #fff; /* White background */
    border: 1px solid #ccc; /* Light gray border */
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1); /* Subtle shadow for 3D effect */
    border-radius: 4px; /* Rounded corners */
    z-index: 1001; /* Make sure it's on top */
}
#jib-context-menu li:hover > ul {
    display: block;
}

/* Prevent the context menu from displaying outside the viewport */
body {
    overflow-x: hidden;
}
